{% extends "base.html" %}
{% load static user_extras crispy_forms_tags %}

{% block title %}Edit Profile{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'lib/sweetalert2/sweetalert2.min.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'lib/sweetalert2/sweetalert2.min.js' %}"></script>
{% endblock %}


{% block content %}
<div class="page-head">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'core:home' %}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Users</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'users:detail' user.username %}"><i
            class="breadcrumb-icon fa fa-angle-left"></i>{% if user.profile.name %}{{ user.profile.name }}{% else %}{{ user.username }}{% endif %}</a>
      </li>
      <li class="breadcrumb-item active">
        <a href=""><i class="breadcrumb-icon fa fa-angle-left"></i>Edit profile</a>
      </li>
    </ol>
  </nav>
  <h2 class="page-head-title">
    Edit profile and settings</h2>
</div>

<div class="main-content container-fluid">
  <div class="user-profile mt-5">
    <div class="row">
      <div class="col-md-3 border-right">
        {% include 'users/profile-card.html' %}
      </div>
      <div class="col-md-9">
        <ul class="nav nav-tabs" role="tablist">
          {% include 'users/menu.html' with active='update_profile' %}
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="profile" role="tabpanel">
            <form class="form-horizontal" method="post" action="{% url 'users:update_profile' %}">
              {% csrf_token %}
              {% crispy form %}
            </form>
          </div>
          <div class="tab-pane" id="avatar" role="tabpanel">
            <div class="d-lg-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center mb-4 mb-lg-0">
                {% if user.profile.avatar %}
                <img width="250"
                  src="{% if user.profile.avatar %}{{ user.profile.avatar.url }}{% else %}{% gravatar user=user %}{% endif %}"
                  id="img-uploaded" class="rounded-circle img-thumbnail" alt="" />
                {% else %}
                <img src="{% gravatar user=user size=150 %}" id="img-uploaded" class="rounded-circle img-thumbnail"
                  alt="" />
                {% endif %}
                <div class="ml-3">
                  <h4 class="mb-0">Update your avatar?</h4>
                  <p class="mb-0">
                    PNG or JPG no bigger than 800px wide and tall.
                  </p>
                </div>
              </div>
              <div>
                <form style="display: inline;" action="" class="avatar-update-form" method="GET"
                  data-target="{% url 'users:update_avatar' %}" data-preview="#avatarPreview">
                  {% csrf_token %}

                  <div class="input-group mb-3">
                    <label class="input-group-text bg-primary text-white" for="upload_avatar">Update</label>
                    <input style="display: none;" type="file" class="form-control" name="upload_avatar"
                      id="upload_avatar" accept="image/*">
                  </div>
                </form>
                <form style="display:inline" action="{% url 'users:delete_avatar' %}" method="POST">
                  {% csrf_token %}
                  <button class="btn btn-outline-danger btn-sm">Delete</button>
                </form>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="account" role="tabpanel">
            <div class="card">
              <!-- Card header -->
              <div class="card-header">
                <h4 class="mb-0 text-bold">Delete your account permanently</h4>
              </div>
              <!-- Card body -->
              <div class="card-body p-4">
                <p class="text-danger lead">Warning</p>
                <p class="text-danger">
                  If you close your account, all your data will be deleted permanently.
                </p>
                <button type="button" class="btn btn-outline-danger btn-xl" data-toggle="modal"
                  data-target="#deleteAccountModal">
                  Delete My Account
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block modal %}
<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="deleteAccountModalLabel">Wait, are you sure?</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="post" action="{% url 'users:delete' %}">
          {% csrf_token %}
          {{ delete_user_form }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {% comment %} <button type="submit" class="btn btn-primary">Delete my account</button> {% endcomment %}
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

{% block inline_javascript %}
<script>
  (function ($) {

    $.fn.avatarUpdateForm = function () {
      var form = this; // `this` will point an `<input>` element below
      form.find('input[type="file"]').change(function (event) {
        // `this` is an <input type="file"> (not a jQuery object, plain DOM!)
        var input = this;
        if (input.files && input.files[0]) {
          var sizeKb = (input.files[0].size / 1024).toFixed(4);
          if (sizeKb > 1000) {
            Swal.fire({
              type: 'warning',
              text: `Profile image size must be under 1000KB, your file is ${sizeKb}KB`,
              customClass: {
                confirmButton: 'btn btn-md btn-primary',
              },
              buttonsStyling: false
            });
          } else {
            var data = new FormData(form.get(0));
            var reader = new FileReader();
            reader.onload = function (re) {
              Swal.fire({
                text: 'Does this look good? Confirm that your face is front and center!',
                imageUrl: re.target.result,
                imageWidth: 240,
                imageHeight: 240,
                imageAlt: 'new profile picture',
                animation: false,
                showCancelButton: true,
                cancelButtonText: 'No',
                confirmButtonText: 'Yes',
                customClass: {
                  image: 'img-thumbnail rounded-circle',
                  confirmButton: 'btn btn-primary btn-space',
                  cancelButton: 'btn btn-secondary btn-space',
                },
                buttonsStyling: false
              }).then(result => {
                if (result.value) {
                  var req = new XMLHttpRequest();
                  req.open("POST", form.attr('data-target'), true);
                  req.onload = function (xe) {
                    location.reload();
                  };
                  data.append('avatar', re.target.result);
                  data.append('csrfmiddlewaretoken', $('[name=csrfmiddlewaretoken]').val());
                  req.send(data);

                  // Display progress
                  var preview = $(form.attr('data-preview'));
                  preview.html(
                    '<div class="be-loading">' +
                    '<div class="be-spinner">' +
                    '<svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"<circle fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30" class="circle"></circle></svg>' +
                    '</div></div>'
                  )
                } else {
                  $(input).val('');
                }
              });
            };
            reader.readAsDataURL(input.files[0]);
          }
        }
        event.preventDefault();
      });
    };

    //////////////////////////////
    // Associating the plugins
    $('.avatar-update-form').avatarUpdateForm();
  }(jQuery));

</script>
{% endblock %}
