{% extends "base.html" %}
{% load static user_extras crispy_forms_tags %}

{% block title %}User: {{ user.profile.get_screen_name }}{% endblock %}

{% block body_class %}bg-secondary{% endblock body_class %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'vendor/sweetalert2/sweetalert2.min.css' %}">
{% endblock %}

{% block content %}

<div class="container mb-lg-4 my-xl-5">
  <div class="row pt-sm-2 pt-lg-0">
    <!-- Sidebar (offcanvas on sreens < 992px)-->
    {% include 'users/menu.html' with active='update_profile' %}
    <!-- Page content-->
    <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
      <h1 class="h2 mb-4">Edit profile</h1>
      <!-- Basic info-->
      <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3"><i
              class="ai-user text-primary lead pe-1 me-2"></i>
            <h2 class="h4 mb-0">Update your public profile</h2><a class="btn btn-sm btn-secondary ms-auto"
              href="{% url 'users:detail' user.username  %}">Go to profile</a>
          </div>
          <div class="d-flex align-items-center">
            <div class="dropdown">
              <a class="d-flex flex-column justify-content-end position-relative overflow-hidden rounded-circle bg-size-cover bg-position-center flex-shrink-0"
                href="#" data-bs-toggle="dropdown" aria-expanded="false"
                style="width: 80px; height: 80px; background-image: url({% if user.profile.avatar %}{{ user.profile.avatar.url }}{% else %}{% gravatar user=user %}{% endif %});"><span
                  class="d-block text-light text-center lh-1 pb-1" style="background-color: rgba(0,0,0,.5)"><i
                    class="ai-camera"></i></span></a>
              <div class="dropdown-menu my-1">
                <form style="display: inline;" action="" class="avatar-update-form" method="GET"
                  data-target="{% url 'users:update_avatar' %}" data-preview="#avatarPreview">
                  {% csrf_token %}

                  <div class="input-group p-0 mb-3">
                    <label style="cursor:pointer;" class="input-group-text fs-sm" for="upload_avatar">
                      <i class="ai-camera fs-base opacity-70 me-2"></i>Upload new
                      photo</a>
                    </label>
                    <input style="display: none;" type="file" class="form-control" name="upload_avatar"
                      id="upload_avatar" accept="image/*">
                  </div>
                </form>
                <a class="dropdown-item text-danger fw-normal" href="{% url 'users:delete_avatar' %}"><i
                    class="ai-trash fs-base me-2"></i>Delete
                  photo</a>
              </div>
            </div>
            <div class="ps-3">
              <h3 class="h6 mb-1">Profile picture</h3>
              <p class="fs-sm text-muted mb-0">PNG or JPG no bigger than 500px wide and tall.</p>
            </div>
          </div>
          <form method="post" action="{% url 'users:update_profile' %}">
            {% csrf_token %}
            <div class="row g-3 g-sm-4 mt-0 mt-lg-2">
              <div class="col-sm-6">
                <label class="form-label" for="name">Full name</label>
                {{ form.name | as_crispy_field }}
              </div>
              <div class="col-sm-6">
                <label class="form-label" for="pronouns">What are your pronouns?</label>
                {{ form.pronouns | as_crispy_field }}
                {{ form.other_pronouns | as_crispy_field }}
              </div>

              <div class="col-12">
                <label class="form-label" for="country">Where you live</label>
                {{ form.country | as_crispy_field }}
              </div>

              <div class="col-12 d-flex justify-content-end pt-3">
                <button class="btn btn-secondary" type="button">Cancel</button>
                <button class="btn btn-primary ms-3" type="submit">Save changes</button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascript %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/sweetalert2/sweetalert2.all.min.js' %}"></script>
{% endblock %}

{% block inline_javascript %}
<script>
  (function ($) {

    $.fn.avatarUpdateForm = function () {
      var form = this; // `this` will point an `<input>` element below
      form.find('input[type="file"]').change(function (event) {
        // `this` is an <input type="file"> (not a jQuery object, plain DOM!)
        var input = this;
        if (input.files && input.files[0]) {
          var sizeKb = (input.files[0].size / 1024).toFixed(4);
          if (sizeKb > 1000) {
            Swal.fire({
              type: 'warning',
              text: `Profile image size must be under 1000KB, your file is ${sizeKb}KB`,
              customClass: {
                confirmButton: 'btn btn-md btn-primary',
              },
              buttonsStyling: false
            });
          } else {
            var data = new FormData(form.get(0));
            var reader = new FileReader();
            reader.onload = function (re) {
              Swal.fire({
                text: 'Does this look good? Confirm that your face is front and center!',
                imageUrl: re.target.result,
                imageWidth: 240,
                imageHeight: 240,
                imageAlt: 'new profile picture',
                animation: false,
                showCancelButton: true,
                cancelButtonText: 'No',
                confirmButtonText: 'Yes',
                customClass: {
                  image: 'img-thumbnail rounded-circle',
                  confirmButton: 'btn btn-primary me-3',
                  cancelButton: 'btn btn-secondary',
                },
                buttonsStyling: false
              }).then(result => {
                if (result.value) {
                  var req = new XMLHttpRequest();
                  req.open("POST", form.attr('data-target'), true);
                  req.onload = function (xe) {
                    location.reload();
                  };
                  data.append('avatar', re.target.result);
                  data.append('csrfmiddlewaretoken', $('[name=csrfmiddlewaretoken]').val());
                  req.send(data);

                  // Display progress
                  var preview = $(form.attr('data-preview'));
                  preview.html(
                    '<div class="be-loading">' +
                    '<div class="be-spinner">' +
                    '<svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"<circle fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30" class="circle"></circle></svg>' +
                    '</div></div>'
                  )
                } else {
                  $(input).val('');
                }
              });
            };
            reader.readAsDataURL(input.files[0]);
          }
        }
        event.preventDefault();
      });
    };

    //////////////////////////////
    // Associating the plugins
    $('.avatar-update-form').avatarUpdateForm();
  }(jQuery));

  // hide some fields with js
  let others_option = 8;
  let others_field = $("#div_id_other_pronouns");
  let pronouns_field = document.getElementById("div_id_pronouns");

  others_field.hide()


  $("#div_id_pronouns").on("change", function () {
    // check if new selected option is 8 i.e other
    console.log("selected: ", $("#div_id_pronouns").val());
    if ($("#div_id_pronouns option:selected").text() === "Other") {
      others_field.css({
        "margin-top": "0.5rem"
      });
      others_field.show("fast");
    } else {
      others_field.hide()
    }
  });

</script>
{% endblock %}
