{% extends 'base.html' %}

{% block content %}

<div class="page-head">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'core:home' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="#">Your Organizations</a>
      </li>
    </ol>
  </nav>
</div>

<div class="main-content container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p>Thank you for becoming a registered RRAP user. If you want plan on sharing data, you need to create an
        organization or become a member of an existing organization on this platform.</p>
      <a class="btn btn-space btn-dark btn-lg text-white">Find your organization</a><a
        href="{% url 'organizations:new' %}" class="btn btn-space btn-primary btn-lg text-white">Request
        new
        organization</a>
    </div>
  </div>
  <hr class="my-5" />
  <h3 class="my-3 text-bold text-primary">Your Organizations</h3>
  <div class="row">
    {% if user_organizations %}
    {% for organization in user_organizations %}
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header card-header-divider"><span class="text-bold">{{ organization.title }}</span><span
            class="card-subtitle">{{ organization.acronym }}</span></div>
        <div class="card-body">
          <p>{{ organization.about }}</p>
          <a class="btn btn-space btn-primary" href="{% url 'data:add_data' organization.name %}">Add data</a>
          <a class="btn btn-space btn-success" href="{% url 'organizations:edit' organization.name %}">Edit
            organization</a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col-lg-12">
      <p>Thank you for becoming a registered RRAP user. If you want plan on sharing data, you need to create an
        organization or become a member of an existing organization on this platform.</p>
      <a class="btn btn-space btn-dark btn-lg text-white">Find your organization</a><a
        class="btn btn-space btn-primary btn-lg text-white">Request new
        organization</a>
    </div>
    {% endif %}
  </div>
</div>

{% endblock content %}
