{% extends "base.html" %}
{% load static user_extras %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'lib/rrap/activities.js' %}"></script>
{% endblock javascript %}

{% block content %}

<div class="page-head">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'core:home' %}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Users</a>
      </li>
      <li class="breadcrumb-item active">
        <a href=""><i class="breadcrumb-icon fa fa-angle-left"></i>{{ object.profile.name }}</a>
      </li>
    </ol>
  </nav>
</div>

<div class="main-content container-fluid">
  <div class="user-profile mt-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="user-display">
          <div class="user-display-bg"><img src="{% static 'img/user-profile-display.png' %}" alt="Profile Background">
          </div>
          <div class="user-display-bottom">
            <div class="user-display-avatar"><img
                src="{% if object.profile.avatar %}{{ object.profile.avatar.url }}{% else %}{% gravatar user=object %}{% endif %}"
                alt="Avatar"></div>
            <div class="user-display-info">
              <div class="name">
                {% if object.profile.name %}{{ object.profile.name }}{% else %}{{ object.username }}{% endif %}</div>
              <div class="nick"><span class="mdi mdi-account"></span> {{ object.username }}</div>
              <p class="text-muted">Member since {{ object.date_joined|date:"d F, Y" }}</p>
            </div>
            <div class="row user-display-details">
              <div class="col-3">
                <div class="title">Organizations</div>
                <div class="counter">{{ user_organizations|length }}</div>
              </div>
              <div class="col-3">
                <div class="title">Datasets</div>
                <div class="counter">26</div>
              </div>
              <div class="col-3">
                <div class="title">Followers</div>
                <div class="counter followers-count">{{ followers_count }}</div>
              </div>
              <div class="col-3">
                <div class="title">Following</div>
                <div class="counter following-count">{{ following_count }}</div>
              </div>
            </div>
            {% if object == request.user %}
            <div class="row mt-5">

              <div class="col-sm-12">
                <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Edit profile</a>
                <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">User settings</a>
              </div>
            </div>
            {% else %}
            {% if is_following %}
            <span class="user-actions following update-count" data-user-id="{{ object.id }}">
              <button class="btn btn-danger" type="button"><span class="icon mdi mdi-minus-circle"></span>
                Unfollow</button>
            </span>
            {% else %}
            <span class="user-actions not-following update-count" data-user-id="{{ object.id }}">
              <button class="btn btn-success" type="button"><span class="icon mdi mdi-check-circle"></span>
                Follow</button>
            </span>
            {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="user-info-list card">
          <div class="card-header card-header-divider">About Me<span class="card-subtitle">I am a web developer and
              designer based in Montreal - Canada, I like read books, good music and nature.</span></div>
          <div class="card-body">
            {{ followers }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
