{% extends 'base.html' %}
{% load wagtailcore_tags crispy_forms_tags %}

{% block content %}

<style>
  ul.errorlist li {
    color: #ed5050;
    max-width: 100%;
    padding: 0.375rem 0.75rem;
    margin-top: 0.1rem;
    font-size: calc(var(--ar-body-font-size) * 0.75);
  }

</style>

<div class="bg-primary p-3">
  <div class="container">
    <div class="col-12">
      <h1 class="h3 my-0 text-white">
        {{ self.title }}</h1>
    </div>
  </div>
</div>

<section class="container py-4">
  <div class="row pb-1 pb-sm-3 pb-lg-4">
    <!-- Page title-->
    <div class="col-lg-4 pe-xxl-4">
      <h1 class="display-2">Reach out</h1>
      <p class="fs-lg pb-4 mb-0 mb-sm-2">{{ self.intro|richtext }}</p>
    </div>
    <div class="col-lg-8 col-xl-7 offset-xl-1">
      <form class="row g-4 needs-validation mt-2" action="{% pageurl page %}" method="POST" novalidate>
        {% csrf_token %}
        <div class="col-sm-6">
          {{ form.name | as_crispy_field }}
          <div class="invalid-feedback">{{ form.name.errors }}</div>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="col-sm-6">
          {{ form.email_address | as_crispy_field }}
          <div class="invalid-feedback">{{ form.email_address.errors }}</div>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="col-sm-12">
          {{ form.reason | as_crispy_field }}
          <div class="invalid-feedback">{{ form.reason.errors }}</div>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="col-sm-12">
          {{ form.message | as_crispy_field }}
          <div class="invalid-feedback">{{ form.message.errors }}</div>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="col-sm-12">
          {{ form.wagtailcaptcha | as_crispy_field }}
          {{ form.wagtailcaptcha.errors }}
        </div>
        <div class="col-sm-12 pt-2">
          <button class="btn btn-lg btn-primary" type="submit">Send request</button>
        </div>
      </form>
    </div>
  </div>
</section>


{% endblock %}
