{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="py-lg-16 py-8">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row align-items-center">
      <!-- col -->
      <div class="col-lg-6 mb-6 mb-lg-0">
        <div class="">
          <!-- heading -->
          <h1 class="display-3 text-bold mb-3">Rapid Research for Agile Policymaking</h1>
          <!-- para -->
          <p class="mb-5 lead">Find, share and use data on gender in Uganda, all in one place</p>
          <!-- btn -->
          <a href="#" class="btn btn-secondary btn-lg btn-space">Learn more</a><a href="{% url 'core:datasets' %}"
            class="btn btn-primary btn-lg btn-space">Explore
            the data <span class="icon mdi mdi-arrow-right"></span></a>


        </div>
      </div>
      <!-- col -->
      <div class="col-lg-6 d-flex justify-content-center">
        <img src="{% static 'images/research.svg' %}" alt="" height="400" />
      </div>
    </div>
</section>
<section class="pb-14">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-3">
        <div class="widget widget-tile">
          <div class="data-info">
            <div class="desc">Datasets</div>
            <div class="value"><span class="number" data-toggle="counter" data-end="113">113</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3">
        <div class="widget widget-tile">
          <div class="data-info">
            <div class="desc">Organizations</div>
            <div class="value"><span class="number" data-toggle="counter" data-end="80" data-suffix="%">80%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3">
        <div class="widget widget-tile">
          <div class="data-info">
            <div class="desc">Districts</div>
            <div class="value"><span class="number" data-toggle="counter" data-end="532">532</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3">
        <div class="widget widget-tile">
          <div class="data-info">
            <div class="desc">Downloads</div>
            <div class="value"><span class="number" data-toggle="counter" data-end="113">113</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock content %}
