{% extends "base.html" %}
{% load static %}

{% block javascript %}
<script src="{% static 'lib/countup/countUp.min.js' %}" type="text/javascript"></script>
{% endblock javascript %}

{% block content %}
<section class="py-lg-16 py-8">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row align-items-center">
      <!-- col -->
      <div class="col-lg-6 mb-6 mb-lg-0">
        <div class="">
          <!-- heading -->
          <h1 class="display-4 text-bold mb-3">Rapid Research for Agile Policymaking</h1>
          <!-- para -->
          <p class="mb-5 lead">Find, share and use data on gender in Uganda, all in one place</p>
          <!-- btn -->
          <a href="#" class="btn btn-secondary btn-lg btn-space">Learn more</a><a href="{% url 'core:datasets' %}"
            class="btn btn-primary btn-lg btn-space">Explore
            the data <span class="icon mdi mdi-arrow-right"></span></a>


        </div>
      </div>
      <!-- col -->
      <div class="col-lg-6 d-flex justify-content-center">
        <img src="{% static 'images/research.svg' %}" alt="" height="400" />
      </div>
    </div>
</section>
<section class="pb-14">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-3">
        <div class="widget widget-tile">
          <div class="data-info">
            <div class="desc">Topics</div>
            <div class="value"><span class="number" data-toggle="counter"
                data-end="{{ total_topics }}">{{ total_topics }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3">
        <div class="widget widget-tile">
          <div class="data-info">
            <div class="desc">Datasets</div>
            <div class="value"><span class="number" data-toggle="counter"
                data-end="{{ total_datasets }}">{{ total_datasets }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3">
        <div class="widget widget-tile">
          <div class="data-info">
            <div class="desc">Organizations</div>
            <div class="value"><span class="number" data-toggle="counter"
                data-end="{{ total_organizations }}">{{ total_organizations }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3">
        <div class="widget widget-tile">
          <div class="data-info">
            <div class="desc">Districts</div>
            <div class="value"><span class="number" data-toggle="counter"
                data-end="{{ total_locations }}">{{ total_locations }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock content %}

{% block inline_javascript %}
<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', () => {
    //Counter
    function counter() {

      $('[data-toggle="counter"]').each(function (i, e) {
        var _el = $(this);
        var prefix = '';
        var suffix = '';
        var start = 0;
        var end = 0;
        var decimals = 0;
        var duration = 2.5;

        if (_el.data('prefix')) {
          prefix = _el.data('prefix');
        }

        if (_el.data('suffix')) {
          suffix = _el.data('suffix');
        }

        if (_el.data('start')) {
          start = _el.data('start');
        }

        if (_el.data('end')) {
          end = _el.data('end');
        }

        if (_el.data('decimals')) {
          decimals = _el.data('decimals');
        }

        if (_el.data('duration')) {
          duration = _el.data('duration');
        }

        var count = new CountUp(_el.get(0), start, end, decimals, duration, {
          suffix: suffix,
          prefix: prefix,
        });

        count.start();
      });
    }
  });

</script>
{% endblock %}
