{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" media="screen" href="{% static 'vendor/simplebar/dist/simplebar.min.css' %}">
{% endblock %}

{% block content %}
<div class="bg-primary p-3">
  <div class="container">
    <form id="searchForm" class="row row-cols-sm-auto g-3 align-items-center" hx-post="{% url 'core:search' %}"
      hx-target="#filter-results">
      <div class="col-12">
        <h6 class="my-0 text-white"><i class="ai-filter ms-n1 me-2"></i> Filter:</h6>
      </div>
      <div class="col-12">
        <div class="position-relative"><i
            class="ai-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
          <input type="search" name="query" class="form-control form-control-sm ps-5" placeholder="Search by name..."
            id="inline-form-input" @search="$event.prevent" hx-post="{% url 'core:search' %}"
            hx-trigger="keyup changed delay:500ms, search" hx-target="#filter-results" />
        </div>
      </div>
      <div class="col-12">
        <div class="btn-group dropdown d-inline-block me-2" x-data="{open: false }">
          <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true" @click="open = !open">All key populations</button>
          <div class="dropdown-menu my-3" data-popper-placement="bottom-start">
            {% for community in communities %}
            {% include "partials/_filter_checkbox.html" with prefix='community' name=community %}
            {% endfor %}
            <div class="dropdown-divider"></div>
            <button type="submit" class="dropdown-item btn btn-outline-primary btn-sm"
              @click="open = false">Apply</button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="btn-group dropdown d-inline-block me-2" x-data="{open: false }">
          <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true" @click="open = !open">All services offered</button>
          <div class="dropdown-menu my-3" data-popper-placement="bottom-start">
            {% for service in services %}
            {% include "partials/_filter_checkbox.html" with prefix='service' name=service %}
            {% endfor %}
            <div class="dropdown-divider"></div>
            <button type="submit" class="dropdown-item btn btn-outline-primary btn-sm"
              @click="open = false">Apply</button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="btn-group dropdown d-inline-block me-2" x-data="{open: false }">
          <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true" @click="open = !open">All broad issues</button>
          <div class="dropdown-menu my-3" data-popper-placement="bottom-start">
            {% for issue in issues %}
            {% include "partials/_filter_checkbox.html" with prefix='issue' name=issue %}
            {% endfor %}
            <div class="dropdown-divider"></div>
            <button type="submit" class="dropdown-item btn btn-outline-primary btn-sm"
              @click="open = false">Apply</button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-sm btn-outline-danger ms-auto" type="button"><i
            class="ai-refresh ms-n1 me-2"></i>reset</button>
      </div>
    </form>
  </div>
</div>
<div class="row h-100">
  <div class="col-lg-3 d-flex flex-column pb-3 pe-0" style="height: 100vh; overflow: hidden scroll;">
    <div class="h-100 px-3 pt-4" data-simplebar>
      {% if organisations %}
      <div class="accordion" id="filter-results">
        {% for organisation in organisations %}
        <div class="accordion-item">
          <h6 class="accordion-header" id="{{ organisation.id }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse-{{ organisation.id }}" aria-expanded="false"
              aria-controls="collapse-{{ organisation.id }}">{{ organisation.title }}</button>
          </h6>
          <div class="accordion-collapse collapse" id="collapse-{{ organisation.id }}"
            aria-labelledby="{{ organisation.id }}" data-bs-parent="#filter-results">
            <div class="accordion-body fs-sm pt-3">
              <dl>
                {% if organisation.summary %}
                <dd>
                  <p>{{ organisation.summary }}{% else %}No summary yet</p>
                </dd>
                {% endif %}
                {% if organisation.communities.all %}
                <dt>We support</dt>
                <dd>
                  <div class="d-flex pt-2">
                    {% for community in organisation.communities.all %}
                    <div class="me-2 mb-2">
                      <style>
                        .community-icon {
                          background-color: {{ community.color }};
                        }

                      </style>
                      <span class="d-inline-block rounded-circle community-icon"
                        style="width: .625rem; height: .625rem;"></span>&nbsp;{{ community.acronym }}
                    </div>
                    {% endfor %}
                  </div>
                </dd>
                {% endif %}
                {% if organisation.toll_free is not None %}
                <dt>Toll-free number</dt>
                <dd>{{ organisation.toll_free }}</dd>
                {% endif %}
                {% if organisation.email is not None %}
                <dt>Email address</dt>
                <dd>{{ organisation.email }}</dd>
                {% endif %}
                {% if organisation.website is not None %}
                <dt>Website</dt>
                <dd>{{ organisation.website }}</dd>
                {% endif %}
              </dl>
              <a class="btn btn-link p-0" href="{{ organisation.full_url }}">Learn more<i
                  class="ai-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      {% else %}
      <p>No organisations at this time. </p>
      {% endif %}
    </div>
  </div>
  <div class="col-lg-9 ps-2">
    <div style="height:100vh!important;" class="map" id="map"></div>
  </div>
</div>

{% endblock content %}

{% block javascript %}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js'></script>
<script src="{% static 'vendor/simplebar/dist/simplebar.min.js' %}"></script>
{% endblock javascript %}

{% block inline_javascript %}

<noscript>
  <style>
    /**
    * Reinstate scrolling for non-JS clients
    */
    .simplebar-content-wrapper {
      overflow: auto;
    }

  </style>
</noscript>

<script>
  mapboxgl.accessToken =
    "pk.eyJ1Ijoia29sbGluc2F5eiIsImEiOiJjaWVoNzJxcTcwMDlvc3JtMXBtNmg4aWl6In0.T8YV7TzgBTTWQT19_pjceQ";
  // Set bounds to Uganda
  var uganda = [
    [29.57, -1.48],
    [35.0, 4.23],
  ];
  if (window.innerWidth >= 575) { // only load map where it can be seen
    var map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/kollinsayz/cl90d5fa9005q14nu0n8es2kj?optimize=true&fresh=true",
      center: [32.225, 1.052],
      zoom: 6.5,
      scrollZoom: false,
      attributionControl: false,
      //maxBounds: uganda // Sets bounds as max
    });
  }

  // Disable default box zooming.
  map.boxZoom.disable();
  map.scrollZoom.disable();


  map.on("load", function () {

    map.resize();

  });

</script>

<script>
  /**
   * Fetches
   * :) The only js you have to write
   * **/
  function infiniteScroll() {
    const form = document.getElementById("searchForm")
    const formData = new FormData(form)
    // add form values to object
    formData.append('apply_offset', true);
    let data = {}
    formData.forEach(function (value, key) {
      data[key] = value;
    });
    // handle multiselect values
    const headers = {
      "X-CSRFToken": "{{ csrf_token }}"
    }
    data.communities = formData.getAll('communities')
    const context = {
      target: '#filter-results',
      headers: headers,
      swap: 'beforeend',
      values: data
    }
    htmx.ajax('POST', "{% url 'core:search' %}", context)
  }

</script> {% endblock %}
