{% extends "base.html" %}


{% load compress i18n static %}

{% block title %}Locations · Rapid Research for Agile Policymaking{% endblock %}

{% block stylesheet %}
<link href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css" rel="stylesheet">
{% endblock %}

{% block content %}
<style>
  .mapboxgl-popup {
    padding-bottom: 50px;
  }

  .mapboxgl-popup-close-button {
    display: none;
  }

  .mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding: 0;
    width: 150px;
  }

  .mapboxgl-popup-content-wrapper {
    padding: 1%;
  }

  .mapboxgl-popup-content h5 {
    background: #0D5BDD;
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    text-transform: capitalize !important;
    margin-top: -15px;
  }

  .mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 10px 10px 10px 10px;
    font-weight: 400;
    font-size: 16px;
  }

  .mapboxgl-popup-content p {
    margin: 0;
    display: block;
    padding: 10px 10px 10px 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
  }

  .mapboxgl-popup-content img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  .mapboxgl-popup-content div {
    padding: 10px;
  }

  .mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
  }

  .mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
    margin-top: 5px !important;
  }

  .mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
    border-bottom-color: #0D5BDD !important;
  }

</style>
<div class="main-content container-fluid" style="padding:0!important">
  <input type="hidden" id="mapboxToken" value="{{ mapbox_access_token }}">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" style="padding:0!important;margin: 0!important;">
          <div class="row table-filters-container">
            <div class="general-filters">
              <div class="general-filters-left">
                <h4 style="display:inline-flex" class="text-bold">All Locations </h4>
                <h4 style="display:inline-flex" class="ml-5">Map of Uganda </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body" style="padding:0!important">
          <div style="height:660px!important;" class="map" id="map"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h3 class="text-bold">All districts</h3>
        </div>
        <div class="card-body">
          <div id="district_list" class="row">
            {% for location in locations %}
            <div class="col-md-2">
              <a href="{% url 'core:single_location' location.pk %}">
                <p class="text-bold">{{ location.name }}</p>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascript %}
<script src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>
<script src="{% static 'lib/rrap/map.js' %}" defer></script>
<script src="{% static 'lib/rrap/geojson/districts.js' %}" defer></script>
<script src="{% static 'lib/rrap/geojson/district-list.js' %}"></script>
{% endblock javascript %}
