{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block stylesheet %}
<link href="{% static 'vendor/mapbox-gl/mapbox-gl.css' %}" rel="stylesheet" />
<link rel="stylesheet" media="screen" href="{% static 'vendor/simplebar/dist/simplebar.min.css' %}">
{% endblock %}

{% block content %}

<div class="bg-primary p-3">
  <div class="container">
    <form id="mapFilterForm" class="row row-cols-sm-auto g-3 align-items-center" hx-get="{% url 'map' %}"
      hx-target="#filter-results" hx-trigger="keyup delay:2s, change delay:2s">
      <div class="col-12">
        <h6 class="my-0 text-white"><i class="ai-filter me-2"></i> Filter:</h6>
      </div>
      <div class="col-12">
        <div class="position-relative">
          <i class="ai-search position-absolute top-50 start-0 translate-middle-y ms-3 text-white"></i>
          {{ map_filter_form.title|as_crispy_field }}
        </div>
      </div>
      <div class="col-12">
        <div class="btn-group dropdown d-inline-block me-2" x-data="{open: false }">
          <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true" @click="open = !open">Filter by community</button>
          <div class="dropdown-menu my-3" data-popper-placement="bottom-start">
            {{ map_filter_form.communities|as_crispy_field }}
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="btn-group dropdown d-inline-block me-2" x-data="{open: false }">
          <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true" @click="open = !open">Filter by services offered</button>
          <div class="dropdown-menu my-3" data-popper-placement="bottom-start">
            {{ map_filter_form.services|as_crispy_field }}
          </div>
        </div>
      </div>
      <div class="col-12">
        <a class="btn btn-sm btn-secondary ms-auto text-danger" role="button" href="{% url 'map' %}"><i
            class="ai-refresh ms-n1 me-2"></i>Clear filter</a>
      </div>
    </form>
  </div>
</div>
<div class="row h-100">
  <div class="col-lg-3 d-flex flex-column pb-3 pe-0" style="height: 100vh; overflow: hidden scroll;">
    <div class="h-100 px-3 pt-4" data-simplebar>
      {% if organisations %}
      <div class="accordion" id="filter-results">
        {% for organisation in organisations %}
        <div class="accordion-item">
          <h6 class="accordion-header" id="{{ organisation.id }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse-{{ organisation.id }}" aria-expanded="false"
              aria-controls="collapse-{{ organisation.id }}">{{ organisation.title }}</button>
          </h6>
          <div class="accordion-collapse collapse" id="collapse-{{ organisation.id }}"
            aria-labelledby="{{ organisation.id }}" data-bs-parent="#filter-results">
            <div class="accordion-body fs-sm pt-3">
              <dl>
                {% if organisation.summary %}
                <dd>
                  <p>{{ organisation.summary }}{% else %}No summary yet</p>
                </dd>
                {% endif %}
                {% if organisation.communities.all %}
                <dt>We support</dt>
                <dd>
                  <div class="d-flex pt-2">
                    {% for community in organisation.communities.all %}
                    <div class="me-2 mb-2">
                      <span class="d-inline-block rounded-circle community-icon"
                        style="width: .625rem; height: .625rem; background-color: {{community.color }};"></span>&nbsp;{{ community.acronym }}
                    </div>
                    {% endfor %}
                  </div>
                </dd>
                {% endif %}
                {% if organisation.toll_free is not None %}
                <dt>Toll-free number</dt>
                <dd>{{ organisation.toll_free }}</dd>
                {% endif %}
                {% if organisation.email is not None %}
                <dt>Email address</dt>
                <dd><a href="mailto:{{ organisation.email }}">Send email</a></dd>
                {% endif %}
                {% if organisation.website is not None %}
                <dt>Website</dt>
                <dd><a href="{{ organisation.website }}" target="_blank">Visit website</a></dd>
                {% endif %}
              </dl>
              <a class="btn btn-link p-0" href="{{ organisation.full_url }}">Learn more<i
                  class="ai-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      {% else %}
      <p>No organisations at this time. </p>
      {% endif %}
    </div>
  </div>
  <div class="col-lg-9 ps-2">
    <div style="display:none" id="districtListOob">{{ districts }}</div>
    <div style="height:100vh!important;" class="map" id="map"></div>
  </div>
</div>

{% endblock content %}

{% block javascript %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/simplebar/dist/simplebar.min.js' %}"></script>
<script src="{% static 'geojson/districts.js' %}"></script>
{% endblock javascript %}

{% block inline_javascript %}
<script src="{% static 'vendor/mapbox-gl/mapbox-gl.js' %}"></script>
{{ map_filter_form.media.js }}
<noscript>
  <style>
    /**
    * Reinstate scrolling for non-JS clients
    */
    .simplebar-content-wrapper {
      overflow: auto;
    }

  </style>
</noscript>

<script>
  mapboxgl.accessToken =
    "pk.eyJ1Ijoia29sbGluc2F5eiIsImEiOiJjaWVoNzJxcTcwMDlvc3JtMXBtNmg4aWl6In0.T8YV7TzgBTTWQT19_pjceQ";
  // Set bounds to Uganda
  var uganda = [
    [29.57, -1.48],
    [35.0, 4.23],
  ];
  if (window.innerWidth >= 575) { // only load map where it can be seen
    var map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/kollinsayz/clbml6myu000014ph5pdsns4x?optimize=true&fresh=true",
      center: [32.225, 1.052],
      zoom: 6.3,
      scrollZoom: false,
      attributionControl: false,
      //maxBounds: uganda // Sets bounds as max
    });
  }

  // Disable default box zooming.
  map.boxZoom.disable();
  map.scrollZoom.disable();


  let hoveredDistrictId = null;
  let clickedDistrictId = null;

  let locations = document.getElementById('districtListOob').innerText;
  console.log("Locations: ", JSON.parse(locations));

  map.on("load", function () {
    // load district polygon data from enqueued geojson
    map.addSource("districts", {
      type: "geojson",
      data: districts_geojson,
    });

    map.addLayer({
      id: "district-fills",
      type: "fill",
      source: "districts",
      layout: {},
      paint: {
        "fill-color": "#1A2F80",
        "fill-opacity": [
          "case",
          ["boolean", ["feature-state", "hover"], false],
          1,
          0.6,
        ],
      },
    });
    map.on("mousemove", "district-fills", (e) => {
      if (e.features.length > 0) {
        if (hoveredDistrictId !== null) {
          map.setFeatureState({
            source: "districts",
            id: hoveredDistrictId,
          }, {
            hover: false,
          });
        }
        hoveredDistrictId = e.features[0].id;

        map.setFeatureState({
          source: "districts",
          id: hoveredDistrictId,
        }, {
          hover: true,
        });
      }
    });

    // Create a popup, but don't add it to the map yet.
    const popup = new mapboxgl.Popup({
      closeButton: false,
      closeOnClick: false,
    });

    map.on("mousemove", "district-fills", (e) => {
      map.getCanvas().style.cursor = "pointer";
      let name = e.features[0].properties.name;
      let popn = (e.features[0].properties.population).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");

      // Populate the popup and set its coordinates
      // based on the feature found.
      popup
        .setLngLat(e.lngLat)
        .setHTML("<h5 class='no-margin-top no-margin-bottom'>" + name +
          "</h5><p class='no-margin-bottom'>Population: " + popn +
          "</p><small>Uganda Bureau of Statistics (2020)</small>")
        .addTo(map);
    });

    // When the mouse leaves the state-fill layer, update the feature state of the
    // previously hovered feature.
    map.on("mouseleave", "district-fills", () => {
      if (hoveredDistrictId !== null) {
        map.setFeatureState({
          source: "districts",
          id: hoveredDistrictId,
        }, {
          hover: false,
        });
      }
      hoveredDistrictId = null;
      // change cursor back to normal when leave districts
      map.getCanvas().style.cursor = "";
      popup.remove();
    });
    // initialize mapbox' expression filter on layer
    let filter = ["in", "name"];
    map.setFilter('district-fills', filter.concat(JSON.parse(locations)));
    map.resize();

  });

</script>
{% endblock %}
