{% extends "base.html" %}


{% load compress static crispy_forms_tags wagtailimages_tags %}

{% block title %}Publications · Data Waffe{% endblock %}

{% block content %}

<div class="bg-primary p-3">
  <div class="container">
    <form id="mapFilterForm" class="row row-cols-sm-auto g-3 align-items-center" hx-get=""
      hx-target="#filter-results" hx-trigger="keyup delay:2s, change delay:2s">
      <div class="col-12">
        <h6 class="my-0 text-white"><i class="ai-filter me-2"></i> Filter publications:</h6>
      </div>
      <div class="col-12">
        <div class="position-relative">
          <i class="ai-search position-absolute top-50 start-0 translate-middle-y ms-3 text-white"></i>
          {{ pub_filter_form.title|as_crispy_field }}
        </div>
      </div>
      <div class="col-12">
        <div class="btn-group dropdown d-inline-block me-2" x-data="{open: false }">
          <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true" @click="open = !open">Filter by type</button>
          <div class="dropdown-menu my-3" data-popper-placement="bottom-start">
            {{ pub_filter_form.pub_types|as_crispy_field }}
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="btn-group dropdown d-inline-block me-2" x-data="{open: false }">
          <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true" @click="open = !open">Filter by organisation</button>
          <div style="max-height:350px;overflow: hidden scroll!important;" class="dropdown-menu my-3"
            data-popper-placement="bottom-start">
            <p class="mb-3 text-center text-success">Scroll for more <i class="ai-chevrons-down"></i></p>
            {{ pub_filter_form.organisations|as_crispy_field }}
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="btn-group dropdown d-inline-block me-2" x-data="{open: false }">
          <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true" @click="open = !open">Filter by year</button>
          <div class="dropdown-menu my-3" data-popper-placement="bottom-start">
            {{ pub_filter_form.date_published|as_crispy_field }}
          </div>
        </div>
      </div>
      <div class="col-12">
        <a class="btn btn-sm btn-secondary ms-auto text-danger" role="button" href=""><i
            class="ai-refresh ms-n1 me-2"></i>Clear filter</a>
      </div>
    </form>
  </div>
</div>

<section class="py-2 py-sm-3 py-md-4 py-lg-5 mt-4 mt-sm-2">
  <div class="container position-relative zindex-2" id="filter-results">
    {% if publications %}
    <div class="row g-3 align-items-center">
      {% for publication in publications %}
      <div class="col-md-6">
        <div class="d-flex align-items-center">
          <a class="d-inline-block flex-shrink-0 bg-secondary rounded-1 p-md-2 p-lg-3" href="{{ publication.url }}">
            {% if publication.thumbnail %}
            {% image publication.thumbnail height-200 as thumb %}
            <img style="height:200px!important;" src="{{ thumb.full_url }}" width="160"
              alt="{{ publication.title }} thumbnail">
            {% else %}
            <img style="height:200px!important;" src="{% static 'images/dw_logo.png' %}" width="160"
              alt="{{ publication.title }} thumbnail">
            {% endif %}
          </a>
          <div class="ps-3 ps-sm-4">
            {% for type in publication.pub_types.all %}
            <span class="text-primary me-4 fw-bold fs-sm">{{ type.name }}</span>
            {% endfor %}
            <h4 class="mb-2 fw-bold"><a href="{{ publication.url }}">{{ publication.title }}</a></h4>
            <p class="fs-sm">{{ publication.summary }}</p>
            <h6 class="text-muted fs-sm">{{ publication.date_published|date:'F Y'}}</h6>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>no publications at this time.</p>
    {% endif %}
  </div>
</section>
{% endblock content %}
