{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}

<div class="bg-primary p-3">
  <div class="container">
    <div class="col-12">
      <h1 class="h3 my-0 text-white">
        {{ self.title }}</h1>
    </div>
  </div>
</div>

<section class="container">
  <div class="row pb-1 pb-sm-3 pb-lg-4">
    <div class="col-md-8 py-xl-0">
      <h5>{{ self.introduction }}</h5>
      <p class="fs-lg pb-4 mb-0 mb-sm-2">{{ self.body|richtext }}</p>
    </div>
  </div>
</section>

{% endblock %}
