{% extends 'base.html' %}

{% load compress i18n static user_extras %}

{% block title %}{{ organization.title }} · Rapid Research for Agile Policymaking {% endblock %}

{% block content %}

{% include "organizations/single/nav_header.html" with active_tab="members" %}


<div class="main-content container-fluid">

  <div class="row">
    <div class="col-md-12">

      <h3>Administrator</h3>

      <div class="list-group">
        <a class="list-group-item d-flex list-group-item-action"
          href="{% url 'users:detail' organization.owner.username  %}">
          <img class="rounded-circle mr-2 mb-2" width="50"
            src="{% if organization.owner.profile.avatar %}{{ organization.owner.profile.avatar.url }}{% else %}{% gravatar user=organization.owner %}{% endif %}"
            alt="Avatar" />
          <h4 class="list-group-item-title">
            {{ organization.owner.profile.name }}
          </h4>
        </a>
      </div>

      <h3>Members ({{ organization.members.all|length }})</h3>

      <div class="list-group">
        {% for member in organization.members.all %}
        <a class="list-group-item d-flex list-group-item-action" href="{% url 'users:detail' member.username  %}">
          <img class="rounded-circle mr-2 mb-2" width="50"
            src="{% if member.profile.avatar %}{{ member.profile.avatar.url }}{% else %}{% gravatar user=member %}{% endif %}"
            alt="Avatar" />
          <h4 class="list-group-item-title">{{ member.profile.name }}</h4>
        </a>
        {% endfor %}
      </div>

    </div>
  </div>
</div>

{% endblock content %}
