{% load static social_share %}

{% block javascript %}
<script type="text/javascript" src="{% static 'lib/rrap/activities.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/rrap/member_request.js' %}"></script>
{% endblock javascript %}


<div class="page-head">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'core:home' %}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'organizations:organizations' %}">Organizations</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="{% url 'organizations:organization' organization.name  %}"><i
            class="breadcrumb-icon fa fa-angle-left"></i>{{ organization.title }}</a>
      </li>
    </ol>
  </nav>
  <!-- organization information -->
  <div class="row">
    <div class="col-md-9">
      <h2 class="page-head-title"> {{ organization.title }} ({{ organization.acronym }})</h2>
      <p class="text-muted"> {{ organization.about }} </p>
      <p class="text-muted">Member since {{ organization.create_date }}</p>

      {% if request.user.is_authenticated and request.user == organization.owner  %}
      <a href="{% url 'organizations:edit' organization.name %}" class="btn btn-lg btn-secondary btn-space"
        role="button">Edit</a>
      <a href="{% url 'organizations:manage_access' organization.name %}" class="btn btn-outline-dark btn-lg btn-space"
        role="button">Invite members</a>
      {% endif %}
      {% if request.user.is_authenticated and request.user == organization.owner or request.user in organization.members.all  %}
      <a href="{% url 'data:new' organization.name %}" class="btn btn-lg btn-primary btn-space" role="button">Add
        data</a>
      {% endif %}
    </div>
    <div class="col-md-3 logo">
      {% if organization.logo %}
      <img src="{{ organization.logo.url }}" alt="{{ organization.title }} logo" height="150" />
      {% else %}
      <img src="https://doodleipsum.com/185?shape=circle&bg=ceebff" alt="{{ organization.title }} logo" />
      {% endif %}
    </div>
  </div>

  <!-- organization toolbar -->
  <div class="row mt-4 mb-3">
    <div class="col-md-7 d-flex">
      <h6 class="mr-2 text-muted">{{ organization.members|length|add:1 }} MEMBERS</h6>
      <h6 class="mr-2 text-muted"><span class="followers-count">{{ follower_count }}</span> FOLLOWERS</h6>
      {% if organization.website %}
      <h6 class="text-muted"><a href="{{ organization.website }}" target="_blank">VISIT WEBSITE</a></h6>
      {% endif %}
    </div>
    <div class="col-md-5">
      {% if request.user.is_authenticated %}
      <p class="mt-2 mb-2">
        {% if is_following %}
        <span class="user-actions following update-count" data-organization-id="{{ organization.id }}">
          <button class="btn btn-space btn-danger"><span class='icon mdi mdi-minus-circle'></span> Unfollow</button>
        </span>
        {% else %}
        <span class="user-actions not-following update-count" data-organization-id="{{ organization.id }}">
          <button class="btn btn-space btn-success"><span class='icon mdi mdi-check-circle'></span> Follow</button>
        </span>
        {% endif %}
        <span class="request-actions request_membership" data-organization-id="{{ organization.id }}">
          <button class="btn btn-space btn-secondary"><span class='icon icon-left mdi mdi-comment-text'></span> Request
            Membership</button>
        </span>
        {% post_to_facebook object_or_url "Facebook" %}
        {% post_to_twitter "{{dataset.title}}" object_or_url "Twitter" %}
        {% send_email object.title "{{self.title}}" object_or_url "Email" %}
        {% copy_to_clipboard object_or_url "Copy" %}
      </p>
      {% endif %}
    </div>
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a class="nav-link {% if active_tab == 'data' %}active{% endif %}"
        href="{% url 'core:single_org' organization.name %}" role="tab">Datasets</a></li>
    <li class="nav-item"><a class="nav-link {% if active_tab == 'activity' %}active{% endif %}"
        href="{% url 'core:org_activity' organization.name %}" role="tab">Activity stream</a></li>
    {% if request.user.is_authenticated and request.user == organization.owner or request.user in organization.members.all %}
    <li class="nav-item"><a class="nav-link {% if active_tab == 'drafts' %}active{% endif %}"
        href="{% url 'core:drafts' organization.name %}" role="tab">Drafts
        ({{ organization.get_draft_datasets|length }})</a></li>
    <li class="nav-item"><a class="nav-link {% if active_tab == 'members' %}active{% endif %}"
        href="{% url 'core:org_members' organization.name %}" role="tab">Members</a></li>
    {% endif %}
    <li class="nav-item"><a class="nav-link {% if active_tab == 'followers' %}active{% endif %}"
        href="{% url 'core:org_followers' organization.name %}" role="tab">Followers</a></li>
    <li class="nav-item"><a class="nav-link {% if active_tab == 'stats' %}active{% endif %}" href="" data-toggle="tab"
        role="tab">Stats</a></li>
  </ul>

</div>

{% add_copy_script %}
