{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block content %}

<div class="container d-flex flex-column mt-5">
    <div class="row align-items-center justify-content-center no-gutters py-8">
      <div class="col-md-6 mx-auto py-xl-0 text-center">
        <h1 class="display-5">Ooops! Something's wrong!</h1>
        <p class="fs-lg">No worries though. We track these errors automatically and we'll be working to resolve this immediately.</p> 
        <p class="fs-lg pb-2 pb-md-0 mb-4 mb-md-5">If the problem persists feel free to <a href="/contact">contact us</a>. In the meantime, try refreshing the page</p>
      </div>
    </div>
</div>
{% endblock content %}

