{% load static i18n compress django_htmx user_extras active_link_tags menu_tags %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Data Waffe{% endblock title %}</title>
    <!-- SEO Meta Tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Empowering Key Populations in Uganda Through Data Collaboration and Data
    Protection">
    <meta name="author" content="Matchstick Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" color="#6366f1" href="{% static 'favicon/safari-pinned-tab.svg' %}">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="white">
    <!-- Theme mode-->
    <script>
      let mode = window.localStorage.getItem('mode'),
          root = document.getElementsByTagName('html')[0];
      if (mode !== undefined && mode === 'dark') {
        root.classList.add('dark-mode');
      } else {
        root.classList.remove('dark-mode');
      }
      
      
    </script>
    <!-- Page loading styles-->
    <style>
      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .dark-mode .page-loading {
        background-color: #121519;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: #6f788b;
      }
      .dark-mode .page-loading-inner > span {
        color: #fff;
        opacity: .6;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        background-color: #d7dde2; 
        border-radius: 50%;
        opacity: 0;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      .dark-mode .page-spinner {
        background-color: rgba(255,255,255,.25);
      }
      @-webkit-keyframes spinner {
        0% {
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        50% {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }
      @keyframes spinner {
        0% {
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        50% {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }
      
    </style>
    <!-- Page loading scripts-->
    <script>
      (function () {
        window.onload = function () {
          const preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 1500);
        };
      })();
      
    </script>
    <!-- Import Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    {% compress css %}
    <!-- Vendor & 3rd party lib styles-->
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">
    {% endblock %}
    <!-- Main Theme Styles + Bootstrap. Minify after changes and switch to .min.css-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    {% endcompress %}

    {% if rrap_environment == "production" %}
    {% if google_analytics_ua %}
      <!-- Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_ua }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ google_analytics_ua }}'{% if request.user.is_authenticated %}, {'user_id': '{{ request.user.pk }}'}{% endif %});
      </script>
    {% endif %}

    {% if sentry_dsn %}
      <!-- Sentry -->
      <script
        src="https://browser.sentry-cdn.com/6.12.0/bundle.tracing.min.js"
        integrity="sha384-rw3H9WWu9WpZYuqFa9AinpFrirprH4iUuo0HWGP2cjf0wZIa4wH+Wbo4vjkaH+bX"
        crossorigin="anonymous"
      ></script>
      <script>
        Sentry.init({
          dsn: "{{ sentry_dsn }}",
          release: "{{ rrap_version }}",
          environment: "{{ rrap_environment }}",
          integrations: [new Sentry.Integrations.BrowserTracing()],
          tracesSampleRate: 0.01
        });
      </script>
    {% endif %}
  {% endif %}
  </head>
  <!-- Body-->
  <body class="{% block body_class %}{% endblock %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>
    <!-- Page wrapper-->
    <main class="page-wrapper">
      <!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page-->
      <header class="navbar navbar-expand-lg fixed-top">
        <div class="container">
          <a class="navbar-brand pe-sm-3" href="/">
            Data Waffe
          </a>
          <div class="form-check form-switch mode-switch order-lg-2 me-3 me-lg-4 ms-auto" data-bs-toggle="mode">
            <input class="form-check-input" type="checkbox" id="theme-mode">
            <label class="form-check-label" for="theme-mode"><i class="ai-sun fs-lg"></i></label>
            <label class="form-check-label" for="theme-mode"><i class="ai-moon fs-lg"></i></label>
          </div>
          {% if request.user.is_authenticated %}
            {% comment %} <a class="btn btn-primary btn-sm fs-sm order-lg-3 d-none d-sm-inline-flex" href="{% url 'users:organizations' user.username %}" rel="noopener"><i class="ai-circle-plus fs-xl me-2 ms-n1"></i>Add data</a> {% endcomment %}
            <div class="dropdown nav d-none d-sm-block order-lg-3"><a class="nav-link d-flex align-items-center p-0 ms-5"
              href="#" data-bs-toggle="dropdown" aria-expanded="false"><img class="border rounded-circle"
                src="{% if request.user.profile.avatar %}{{ request.user.profile.avatar.url }}{% else %}{% gravatar user=request.user %}{% endif %}" width="48" alt="user avatar">
              <div class="ps-2">
                <div class="fs-xs lh-1 opacity-60">Hello,</div>
                <div class="fs-sm dropdown-toggle">{{request.user.profile.get_screen_name}}</div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end my-1">
              <h6 class="dropdown-header fs-xs fw-medium text-muted text-uppercase pb-1">Account</h6>
              {% if request.user.is_authenticated and request.user.is_staff %}
              <a class="dropdown-item" href="/cms"><i class="ai-user-check fs-lg opacity-70 me-2"></i>Go to CMS</a>
              {% endif%}
              <a class="dropdown-item" href="{% url 'users:detail' request.user.username  %}"><i class="ai-user-check fs-lg opacity-70 me-2"></i>Profile</a>
              <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="{% url 'account_logout' %}"><i class="ai-logout fs-lg opacity-70 me-2"></i>Sign out</a>
            </div>
          </div>
            {% else %}
            <a class="btn btn-outline-primary btn-sm fs-sm order-lg-3 d-none d-lg-inline-flex" href="{% url 'account_login' %}" rel="noopener"><i class="ai-login fs-xl me-2 ms-n1"></i>Sign in</a>
          {% endif %}
          <button class="navbar-toggler ms-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
          <nav class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-nav-scroll me-auto" style="--ar-scroll-height: 520px;">
              {% main_menu max_levels=2 template="menus/custom_main_menu.html" %}
            </ul>
            <div class="d-sm-none p-3 mt-n3">
              {% if not request.user.is_authenticated %}
              <a class="btn btn-outline-primary btn-sm fs-sm d-lg-none ms-3 mb-4 mb-lg-0" href="{% url 'account_login' %}" rel="noopener"><i class="ai-login fs-xl me-2 ms-n1"></i>Sign in</a>
              {% endif %}
          </div>
          </nav>
        </div>
      </header>
      <div class="pt-5 mt-4">
        {% if messages %}
          {% for message in messages %}
          <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
            <div class="toast-header {% if message.tags %}bg-{{ message.tags }}{% else %}bg-primary{% endif %} text-white">
              {% if message.tags == 'success' %}
                  <i class="ai-circle-check fs-lg me-2"></i>
                  {% elif message.tags == 'info' %}
                  <i class="ai-circle-info fs-lg me-2"></i>
                  {% elif message.tags == 'error' or message.tags == 'danger' %}
                  <i class="ai-circle-slash fs-lg me-2"></i>
                  {% elif message.tags == 'warning' %}
                  <i class="ai-triangle-alert fs-lg me-2"></i>
                  {% else %}
                  <i class="ai-bell fs-lg me-2"></i>
                  {% endif %}
              <span class="me-auto">notification</span>
              <button type="button" class="btn-close btn-close-white ms-2" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body text-success">{{ message }}</div>
          </div>
          {% endfor %}
      {% endif %}

      {% block content %}
          <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
      </div>
    </main>
    <footer class="footer bg-secondary py-5">
      
      <div class="container pt-1 pt-sm-2 pt-md-3 pt-lg-3 pt-xl-4">
        <h6 class="text-center">Data Waffe is supported by:</h6>
        <div class="swiper pt-2 pt-sm-4 swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden" data-swiper-options="{
          &quot;slidesPerView&quot;: 2,
          &quot;spaceBetween&quot;: 24,
          &quot;pagination&quot;: {
            &quot;el&quot;: &quot;.swiper-pagination&quot;,
            &quot;clickable&quot;: true
          },
          &quot;breakpoints&quot;: {
            &quot;500&quot;: {
              &quot;slidesPerView&quot;: 3
            },
            &quot;750&quot;: {
              &quot;slidesPerView&quot;: 4
            },
            &quot;1000&quot;: {
              &quot;slidesPerView&quot;: 6
            },
            &quot;1200&quot;: {
              &quot;slidesPerView&quot;: 8
            }
          }
        }">
            <div class="swiper-wrapper pt-2" id="swiper-wrapper-fbaabbe92f9b7b34" aria-live="polite" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms; align-items: center;">
              <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 8" style="width: 196px; margin-right: 24px;">
                <a href="https://futurechallenges.org" target="_blank"><img class="d-block d-dark-mode-none mx-auto" src="{% static 'images/partners/fc-light.png' %}" width="196" alt="Future Challenges Logo"><img class="d-none d-dark-mode-block mx-auto" src="{% static 'images/partners/fc-dark.png' %}" width="196" alt="Future Challenges Logo"></a>
              </div>
              <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 8" style="width: 196px; margin-right: 24px;">
                <a href="https://www.betterplace-lab.org" target="_blank"><img class="d-block d-dark-mode-none mx-auto" src="{% static 'images/partners/bpl-light.png' %}" width="196" alt="Betterplace Lab Logo"><img class="d-none d-dark-mode-block mx-auto" src="{% static 'images/partners/bpl-dark.png' %}" width="196" alt="Betterplace Lab Logo"></a>
              </div>
              <div class="swiper-slide" role="group" aria-label="3 / 8" style="width: 196px; margin-right: 24px;">
                <a href="https://voice.global" target="_blank"><img class="d-block d-dark-mode-none mx-auto" src="{% static 'images/partners/voice-light.png' %}" width="196" alt="VOICE Logo"><img class="d-none d-dark-mode-block mx-auto" src="{% static 'images/partners/voice-dark.png' %}" width="196" alt="VOICE Logo"></a>
              </div>
              <div class="swiper-slide" role="group" aria-label="4 / 8" style="width: 196px; margin-right: 24px;">
                <a href="https://icebreakersug.org" target="_blank"><img class="d-block d-dark-mode-none mx-auto" src="{% static 'images/partners/ibu-light.png' %}" width="196" alt="Ice Breakers Logo"><img class="d-none d-dark-mode-block mx-auto" src="{% static 'images/partners/ibu-dark.png' %}" width="196" alt="Ice Breakers Logo"></a>
              </div>
              <div class="swiper-slide" role="group" aria-label="5 / 8" style="width: 196px; margin-right: 24px;">
                <a href="https://www.faruganda.org" target="_blank"><img class="d-block d-dark-mode-none mx-auto" src="{% static 'images/partners/farug-light.png' %}" width="196" alt="Freedom and Roam Logo"><img class="d-none d-dark-mode-block mx-auto" src="{% static 'images/partners/farug-dark.png' %}" width="196" alt="Freedom and Roam Logo"></a>
              </div>
              <div class="swiper-slide" role="group" aria-label="6 / 8" style="width: 196px; margin-right: 24px;">
                <a href="https://tranznetwork.org" target="_blank"><img class="d-block d-dark-mode-none mx-auto" src="{% static 'images/partners/tranz-light.png' %}" width="196" alt="Tranz Network Logo"><img class="d-none d-dark-mode-block mx-auto" src="{% static 'images/partners/tranz-dark.png' %}" width="196" alt="Tranz Network Logo"></a>
              </div>
              <div class="swiper-slide" role="group" aria-label="7 / 8" style="width: 196px; margin-right: 24px;">
                <a href="https://ugandakpc.org" target="_blank"><img class="d-block d-dark-mode-none mx-auto" src="{% static 'images/partners/ukpc-light.png' %}" width="196" alt="Uganda Key Populations Consortium Logo"><img class="d-none d-dark-mode-block mx-auto" src="{% static 'images/partners/ukpc-dark.png' %}" width="196" alt="Uganda Key Populations Consortium Logo"></a>
              </div>
              <div class="swiper-slide" role="group" aria-label="8 / 8" style="width: 155px; margin-right: 24px;">
                <a href="https://pollicy.org" target="_blank"><img class="d-block d-dark-mode-none mx-auto" src="{% static 'images/partners/pollicy.png' %}" width="155" alt="Pollicy Logo"><img class="d-none d-dark-mode-block mx-auto" src="{% static 'images/partners/pollicy.png' %}" width="155" alt="Pollicy Logo"></a>
              </div>
            </div>
            <div class="swiper-pagination position-relative bottom-0 mt-2 pt-4 d-xl-none swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span></div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>

        <div class="d-sm-flex align-items-center justify-content-center pt-4 mt-2 mt-sm-0">
          <ul class="nav fs-sm">
            {% flat_menu 'footer' template="menus/footer_menu.html" max_levels=1 %}
          </ul>
        </div>
      </div>
    </footer>
    <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll>
      <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></circle>
      </svg><i class="ai-arrow-up"></i></a>
    {% compress js %}
    <!-- Vendor scripts: js libraries and plugins-->
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
  
    {% django_htmx_script %}
    {% block javascript %}
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    {% endblock javascript %}
    <!-- Main theme script-->
    <script src="{% static 'js/theme.min.js' %}"></script>
    {% endcompress %}

    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}{% endblock inline_javascript %}
  </body>
</html>