{% extends "base.html" %}
{% load static user_extras crispy_forms_tags %}

{% block title %}User:{% if user.profile.name %}{{ user.profile.name }}{% else %}{{ user.username }}{% endif %}{% endblock %}

{% block body_class %}bg-secondary{% endblock body_class %}

{% block content %}

<div class="container mb-lg-4 my-xl-5">
  <div class="row pt-sm-2 pt-lg-0">
    <!-- Sidebar (offcanvas on sreens < 992px)-->
    {% include 'users/menu.html' with active='account_email' %}
    <!-- Page content-->
    <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
      <h1 class="h2 mb-4">Email settings</h1>
      <!-- Basic info-->
      <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3"><i
              class="ai-mail text-primary lead pe-1 me-2"></i>
            <h2 class="h4 mb-0">Update your email addresses</h2><a class="btn btn-sm btn-secondary ms-auto"
              href="{% url 'users:detail' user.username  %}">Go to profile</a>
          </div>

          {% if user.emailaddress_set.all %}
          <p>The following e-mail addresses are associated with your account:</p>

          <form action="{% url 'account_email' %}" class="email_list" method="post">
            {% csrf_token %}
            <fieldset class="blockLabels">

              {% for emailaddress in user.emailaddress_set.all %}
              <div class="radio">
                <label for="email_radio_{{forloop.counter}}"
                  class="{% if emailaddress.primary %}primary_email{%endif%} custom-control custom-radio">

                  <input id="email_radio_{{forloop.counter}}" type="radio" name="email" class="custom-control-input"
                    {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked" {%endif %}
                    value="{{emailaddress.email}}" />

                  <span class="custom-control-label">{{ emailaddress.email }}</span>
                  {% if emailaddress.verified %}
                  <span class="badge badge-success verified">Verified</span>
                  {% else %}
                  <span class="badge badge-danger unverified">Unverified</span>
                  {% endif %}
                  {% if emailaddress.primary %}<span class="badge badge-primary primary">Primary</span>{% endif %}
                </label>
              </div>
              {% endfor %}

              <div class="form-group mt-2">
                <button class="secondaryAction btn btn-sm btn-outline-primary" type="submit" name="action_primary">Make
                  primary</button>
                <button class="secondaryAction btn btn-sm btn-outline-success" type="submit" name="action_send">Re-send
                  verification</button>
                <button class="primaryAction btn btn-sm btn-outline-danger" type="submit" name="action_remove">Remove
                  email</button>
              </div>

            </fieldset>
          </form>
          {% else %}

          <div class="alert alert-danger" role="alert"><strong>Warning: </strong>You currently do not have any e-mail
            address set up. You should really add an e-mail address so you can
            receive notifications, reset your password, etc.</div>

          {% endif %}


          <h4 class="text-bold mt-4">Add more email addresses</h4>

          <form method="post" action="{% url 'account_email' %}" class="add_email">
            {% csrf_token %}
            <div class="mb-3">
              {{ form.email|as_crispy_field }}
            </div>
            <button class="btn btn-primary" name="action_add" type="submit">Add email</button>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>

{% endblock content %}


{% block inline_javascript %}
<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', function () {
    const message = "Do you really want to remove the selected email address?";
    const actions = document.getElementsByName('action_remove');
    if (actions.length) {
      actions[0].addEventListener("click", function (e) {
        if (!confirm(message)) {
          e.preventDefault();
        }
      });
    }
    Array.from(document.getElementsByClassName('form-group')).forEach(x => x.classList.remove('row'));
  });

</script>
{% endblock %}
