{% extends "base.html" %}

{% load static i18n crispy_forms_tags user_extras %}

{% block title %}Onboarding | Data Waffe{% endblock %}


{% block content %}

<div class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center no-gutters py-8">

    <div class="col-md-6 mx-auto py-xl-0">

      <div class="my-4">
        <h1 class="h2">We need more information</h1>
        <p class="text-muted">Please provide the following information to create an account and access the data on Data
          Waffe. All fields are required.</p>
      </div>
      <!-- Form -->
      <form method="POST">
        {% csrf_token %}
        <div class="row g-3 g-sm-4 mt-0">
          <div class="col-sm-6">
            <label class="form-label" for="name">What is your name?</label>
            {{ form.name | as_crispy_field }}
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="pronouns">What are your pronouns?</label>
            {{ form.pronouns | as_crispy_field }}
            {{ form.other_pronouns | as_crispy_field }}
          </div>

          <div class="col-12">
            <label class="form-label" for="country">Where do you live?</label>
            {{ form.country | as_crispy_field }}
          </div>

          <div class="col-12">
            <label class="form-label" for="is_ukpc_affiliate">Is the organisation you are affiliated to a
              member of UKPC?</label>
            {{ form.is_ukpc_affiliate | as_crispy_field }}
          </div>

          <div class="col-12" id="organisation_select_container">
            <label class="form-label" for="organisation">Select your organisation</label>
            {{ form.organisation | as_crispy_field }}
          </div>

          <div class="col-12" id="custom_affiliation_container">
            <label class="form-label" for="custom_affiliation">What organisation or institution are you affiliated
              to?</label>
            {{ form.custom_affiliation | as_crispy_field }}
          </div>

          <div class="col-12">
            <label class="form-label" for="why">Why do you need access to the data? (Purpose)</label>
            {{ form.why | as_crispy_field }}
          </div>

          <div class="col-12">
            <button class="btn btn-primary" type="submit">Update profile</button>
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascript %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
{% endblock %}

{% block inline_javascript %}
<script type="text/javascript">
  // show/hide logic for pronouns
  let others_field = $("#div_id_other_pronouns");

  others_field.hide()

  $("#div_id_pronouns").on("change", function () {
    // check if new selected option is 8 i.e other
    console.log("selected: ", $("#div_id_pronouns").val());
    if ($("#div_id_pronouns option:selected").text() === "Other") {
      others_field.css({
        "margin-top": "0.5rem"
      });
      others_field.show("fast");
    } else {
      others_field.hide("fast")
    }
  });

  // show/hide logic for orgs
  let custom_affiliation = $("#custom_affiliation_container");
  let organisation_dropdown = $("#organisation_select_container");

  custom_affiliation.hide()

  $("#div_id_is_ukpc_affiliate").on("change", function () {
    if ($("#div_id_is_ukpc_affiliate option:selected").text() === "No") {
      organisation_dropdown.hide("fast");
      custom_affiliation.show("fast")
    } else {
      organisation_dropdown.show("fast");
      custom_affiliation.hide("fast")
    }
  });

</script>
{% endblock %}
