{% extends "account/base.html" %}

{% load static i18n account crispy_forms_tags %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}

<div class="d-flex flex-column align-items-center position-relative h-100 px-3 pt-5">
  <a class="text-nav btn btn-icon bg-light border rounded-circle position-absolute top-0 end-0 zindex-2 p-0 mt-3 me-3 mt-sm-4 me-sm-4"
    href="/" data-bs-toggle="tooltip" data-bs-placement="left" title="Back to home"><i class="ai-home"></i></a>
  <div class="mt-auto" style="max-width: 700px;">
    <h1 class="pt-3 pb-2 pb-lg-3">Forgot your password?</h1>
    <p class="pb-2">Change your password in three easy steps. This helps to keep your new password secure.</p>
    <ul class="list-unstyled pb-2 pb-lg-0 mb-4 mb-lg-5">
      <li class="d-flex mb-2"><span class="text-primary fw-semibold me-2">1.</span>Fill in your email address below.
      </li>
      <li class="d-flex mb-2"><span class="text-primary fw-semibold me-2">2.</span>We'll email you a link.
      </li>
      <li class="d-flex mb-2"><span class="text-primary fw-semibold me-2">3.</span>Click the link to create a new
        password</li>
    </ul>
    <div class="card dark-mode border-0 bg-primary">
      <form class="card-body">
        <div class="mb-4">
          {% csrf_token %}
          <div class="mb-4">
            <div class="position-relative"><i
                class="ai-mail fs-lg position-absolute top-50 start-0 translate-middle-y text-light opacity-80 ms-3"></i>
              {{ form.email|as_crispy_field }}
            </div>
          </div>
          <button class="btn btn-light" type="submit">Get new password</button>
        </div>
      </form>
    </div>
  </div>
  <p class="w-100 fs-sm pt-5 mt-auto mb-5" style="max-width: 526px;"><span class="text-muted">&copy; All rights
      reserved.</span><a class="nav-link d-inline-block p-0 ms-1" href="/" target="_blank" rel="noopener">Data Waffe</a>
  </p>
</div>

{% endblock %}
