{% extends "base.html" %}
{% load static user_extras crispy_forms_tags %}

{% block title %}User:{% if user.profile.name %}{{ user.profile.name }}{% else %}{{ user.username }}{% endif %}{% endblock %}

{% block body_class %}bg-secondary{% endblock body_class %}

{% block content %}

<div class="container mb-lg-4 my-xl-5">
  <div class="row pt-sm-2 pt-lg-0">
    <!-- Sidebar (offcanvas on sreens < 992px)-->
    {% include 'users/menu.html' with active='account_change_password' %}
    <!-- Page content-->
    <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
      <h1 class="h2 mb-4">Security settings</h1>
      <!-- Basic info-->
      <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center pb-4 mt-sm-n1 mb-0 mb-lg-1 mb-xl-3"><i
              class="ai-lock-closed text-primary lead pe-1 me-2"></i>
            <h2 class="h4 mb-0">Password change</h2>
          </div>
          <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            <div class="row align-items-center g-3 g-sm-4 pb-3">
              <div class="col-sm-6">
                <label class="form-label" for="current-pass">Current password</label>
                <div class="password-toggle">
                  {{ form.oldpassword|as_crispy_field }}
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <div class="col-sm-6"><a class="d-inline-block fs-sm fw-semibold text-decoration-none mt-sm-4"
                  href="{% url 'account_reset_password' %}">Forgot password?</a></div>
              <div class="col-sm-6">
                <label class="form-label" for="new-pass">New password</label>
                <div class="password-toggle">
                  {{ form.password1|as_crispy_field }}
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <label class="form-label" for="confirm-pass">Confirm new password</label>
                <div class="password-toggle">
                  {{ form.password2|as_crispy_field }}
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="alert alert-info d-flex my-3 my-sm-4"><i class="ai-circle-info fs-xl me-2"></i>
              <p class="mb-0">Password must be minimum 8 characters long - the more, the better.</p>
            </div>
            <div class="d-flex justify-content-end pt-3">
              <button class="btn btn-secondary" type="button">Cancel</button>
              <button class="btn btn-primary ms-3" type="submit">Save changes</button>
            </div>
          </form>
        </div>
      </section>

      <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4">
        <div class="card-body">
          <div class="d-flex align-items-center pb-4 mt-sm-n1 mb-0 mb-lg-1 mb-xl-3"><i
              class="ai-trash text-danger lead pe-1 me-2"></i>
            <h2 class="h4 mb-0 text-danger">Delete account</h2>
          </div>
          <div class="alert alert-warning d-flex mb-4"><i class="ai-triangle-alert fs-xl me-2"></i>
            <p class="mb-0">When you delete your account, your public profile will be deactivated immediately, all your
              account information, any saved data and all information or data attached to your account will be deleted
              permanently. </p>
          </div>
          <div class="d-flex flex-column flex-sm-row justify-content-end pt-4 mt-sm-2 mt-md-3">
            <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteAccountModal"><i
                class="ai-trash ms-n1 me-2"></i>Delete account</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

{% endblock content %}

{% block modal %}

<div class="modal" tabindex="-1" role="dialog" id="deleteAccountModal" aria-labelledby="deleteAccountModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="fs-lg text-danger">Are you sure? Once you delete your account, it can not be recovered.</p>
        <form method="post" action="{% url 'users:delete' %}">
          {% csrf_token %}
          <div class="row align-items-center g-3 g-sm-4 pb-3">
            <div class="col-sm-12">
              <div class="password-toggle">
                {{ delete_user_form.password|as_crispy_field }}
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer flex-column flex-sm-row">
        <button type="button" class="btn btn-secondary w-100 w-sm-auto mb-3 mb-sm-0" data-bs-dismiss="modal">Oops,
          Cancel</button>
      </div>
    </div>
  </div>
</div>

{% endblock modal %}
