{% extends "account/base.html" %}

{% load static i18n %}

{% block head_title %}{% translate "Verify Your E-mail Address" %}{% endblock %}

{% block inner %}
<div class="container d-flex flex-column text-center align-items-center justify-content-center min-vh-100 py-5">
  <h1 class="display-5">Verify your email address</h1>
  <p class="fs-lg pb-2 pb-md-0 mb-4 mb-md-5">{% blocktranslate %}For your security, we sent an e-mail to you to confirm
    that your
    email address indeed belongs to you. Follow the link provided to finalize the signup process.
    <br>Please <a href="/contact">contact us</a> if you do not receive it within a few minutes.{% endblocktranslate %}
  </p>
</div>
{% endblock %}
