{% load wagtailimages_tags %}

{% if publications %}
<div class="row g-3 align-items-center" id="filter-results">
  <div class="col-md-6 offset-xl-1">
    {% for publication in publications %}
    <div class="card overflow-hidden mb-4 border-0">
      <div class="row g-0">
        {% image publication.thumbnail width-300 as thumb %}
        <div class="col-sm-6 bg-repeat-0 bg-size-cover"
          style="background-image: url({{ thumb.full_url }}); min-height: 14rem;"></div>
        <div class="col-sm-6">
          <div class="card-body">
            <h4 class="card-title">{{ publication.title }}</h4>
            <p class="card-text">{{ publication.summary }}</p><a class="btn btn-primary" href="#">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
<p>There are no publications matching this query.</p>
{% endif %}
