<section class="panel summary nice-padding">
  <h2 class="visuallyhidden">Data Waffe summary</h2>
  <ul class="stats">
    <li class="icon icon-group">
      <a href="/cms/organizations/lgbtqorganisation/">

        <span>{{ lgbtq_organisations }}</span> LGBTQ Organisations <span class="visuallyhidden">LGBTQ
          Organisations</span>

      </a>
    </li>

    <li class="icon icon-group">
      <a href="/cms/organizations/sexworkorganisation/">

        <span>{{ sw_organisations }}</span> Sex Workers' Organisations <span class="visuallyhidden">Sex Workers'
          Organisations</span>

      </a>
    </li>

    <li class="icon icon-group">
      <a href="/cms/organizations/pwuidsorganisation/">

        <span>{{ pwuid_organisations }}</span> PWUIDs Organisations <span class="visuallyhidden">PWUIDs
          Organisations</span>

      </a>
    </li>

    <li class="icon icon-doc-full-inverse">
      <a href="/cms/users/">

        <span>{{ users }}</span> Users <span class="visuallyhidden">created in Data Waffe</span>

      </a>
    </li>

    <li class="icon icon-doc-full-inverse">
      <a href="/cms/core/publicationpage/">

        <span>{{ publications }}</span> Publications <span class="visuallyhidden">created in Data Waffe</span>

      </a>
    </li>

    <li class="icon icon-list-ul">
      <a href="/cms/blog/blogpage/">

        <span>{{ blogs }}</span> Blog posts <span class="visuallyhidden">created in Data Waffe</span>

      </a>
    </li>
  </ul>
</section>
