<section class="panel summary nice-padding">
  <h2 class="visuallyhidden">Data Waffe summary</h2>
  <ul class="stats">
    <li class="icon icon-group">
      <a href="/cms/organizations/organisationpage/">

        <span>{{ organisations }}</span> Organisations <span class="visuallyhidden">created in Data Waffe</span>

      </a>
    </li>

    <li class="icon icon-doc-full-inverse">
      <a href="/cms/core/publicationpage/">

        <span>{{ publications }}</span> Publications <span class="visuallyhidden">created in Data Waffe</span>

      </a>
    </li>

    <li class="icon icon-list-ul">
      <a href="/cms/blog/blogpage/">

        <span>{{ blogs }}</span> Blog posts <span class="visuallyhidden">created in Data Waffe</span>

      </a>
    </li>
  </ul>
</section>
