{% extends 'base.html' %}

{% load crispy_forms_tags static %}

{% block title %}Edit {{ organization.title }} · Rapid Research for Agile Policymaking {% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'lib/select2/css/select2.min.css' %}" />
{% endblock %}

{% block javascript %}
<script src="{% static 'lib/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/bs-custom-file-input/bs-custom-file-input.js' %}"></script>

{% endblock %}


{% block inline_javascript %}
<script type="text/javascript">
  $(document).ready(function () {
    $("#id_title").focus();

    $('.inputfile').each(function () {
      var $input = $(this),
        $label = $input.next('label'),
        labelVal = $label.html();

      $input.on('change', function (e) {
        var fileName = '';

        if (this.files && this.files.length > 1)
          fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files
            .length);
        else if (e.target.value)
          fileName = e.target.value.split('\\').pop();

        if (fileName)
          $label.find('span').html(fileName);
        else
          $label.html(labelVal);
      });
    });

    // Custom input file
    bsCustomFileInput.init();
  });

</script>
{% endblock %}


{% block content %}
<div class="page-head">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'core:home' %}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'users:organizations' user.username %}">Your Organizations</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="{% url 'organizations:organization' organization.name  %}"><i
            class="breadcrumb-icon fa fa-angle-left"></i>{{ organization.title }}</a>
      </li>
    </ol>
  </nav>
  <h2 class="page-head-title">Edit organization</h2>
</div>

<div class="main-content container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="tab-container">
        {% include "organizations/edit_menu.html" with menu="edit" %}
        <div class="tab-content">
          <div class="tab-pane active" id="edit" role="tabpanel">
            <form method="post" enctype="multipart/form-data">
              <img class="rounded mr-2 mb-2" src="" alt="Logo">
              {% csrf_token %}
              {% crispy form %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
