{% extends 'base.html' %}

{% load compress i18n static %}

{% block title %}{{ organisation.title }} · TEDT NGO Partners Harmonization Dashboard{% endblock %}

{% block javascript %}
{% compress js %}
<script src="{% static 'js/organisation.js' %}"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<header class="page-title-bar">
  <div class="d-flex justify-content-between">
    <h1 class="page-title"> Members </h1>
    <div class="btn-toolbar">
      <button onclick="location.href='{% url "invites:manage_access" organisation.owner.username organisation.name %}'"
        type="button" class="btn btn-primary">Invite new member</button>
    </div>
  </div>
</header>

<div class="page-section">
  <!-- .section-block -->
  <div class="section-block">
    <!-- show current user if owner -->
    <div class="card mb-2" owner-id="{{ organisation.owner.id }}">
      <!-- .card-body -->
      <div class="card-body">
        <!-- grid row -->
        <div class="row align-items-center">
          <!-- grid column -->
          <div class="col-auto">
            <a href="user-profile.html" class="user-avatar user-avatar-lg"><img
                src="{{ organisation.owner.profile.get_picture }}" alt=""> <span class="avatar-badge online"
                title="online"></span></a>
          </div><!-- /grid column -->
          <!-- grid column -->
          <div class="col">
            <h3 class="card-title">
              <a href="user-profile.html">{{ organisation.owner.profile.get_screen_name }}</a> <small
                class="text-muted">@{{ organisation.owner.username }}</small>
            </h3>
            <h6 class="card-subtitle"> <span class="badge badge-pill badge-info">Creator</span> </h6>
          </div>
        </div>
      </div>
    </div>
    {% if members %}
    {% for member in members %}
    <div class="card mb-2">
      <!-- .card-body -->
      <div class="card-body">
        <!-- grid row -->
        <div class="row align-items-center">
          <!-- grid column -->
          <div class="col-auto">
            <a href="user-profile.html" class="user-avatar user-avatar-lg"><img src="{{ member.profile.get_picture }}"
                alt=""> <span class="avatar-badge online" title="online"></span></a>
          </div><!-- /grid column -->
          <!-- grid column -->
          <div class="col">
            <h3 class="card-title">
              <a href="user-profile.html">{{ member.profile.get_screen_name }}</a> <small
                class="text-muted">@{{ member.username }}</small>
            </h3>
            <h6 class="card-subtitle text-muted"> {{ member.profile.position }} </h6>
          </div><!-- /grid column -->
          <!-- /grid column -->
          <div class="col-auto">
            <div class="dropdown d-inline-block">
              <button class="btn btn-icon btn-secondary" data-toggle="dropdown"><i
                  class="fa fa-fw fa-ellipsis-h"></i></button>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-arrow"></div>
                {% if user.id == organisation.owner.id %}
                <button type="button" class="dropdown-item js-remove-owner">Remove member</button>
                {% elif user.id == member.id %}
                <form method="post" action="{% url 'organisations:leave' %}" style="display: inline">
                  {% csrf_token %}
                  <input type="hidden" name="organisation-id" value="{{ organisation.id }}">
                  <a href="javascript:void(0);" class="dropdown-item js-leave">Leave organisation</a>
                </form>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>

</div>

{% endblock content %}
