{% extends 'base.html' %}

{% load crispy_forms_tags static i18n %}

{% block title %}Edit {{ organization.title }} · Rapid Research for Agile Policymaking {% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'lib/select2/css/select2.min.css' %}" />
{% endblock %}

{% block javascript %}
<script src="{% static 'lib/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
<script>
  $(function () {
    $("#id_title").focus();
  });

</script>
{% endblock %}


{% block content %}
<style>
  .list-group-item {
    cursor: pointer;
  }

</style>

<div class="page-head">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'core:home' %}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'users:organizations' user.username %}">Your Organizations</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="{% url 'organizations:organization' organization.name  %}"><i
            class="breadcrumb-icon fa fa-angle-left"></i>{{ organization.title }}</a>
      </li>
    </ol>
  </nav>
  <h2 class="page-head-title">Edit organization</h2>
</div>

<div class="main-content container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="tab-container">
        {% include "organizations/edit_menu.html" with menu="settings" %}
        <div class="tab-content">
          <div class="tab-pane active" id="edit" role="tabpanel">
            <div class="card card-fluid">
              <div class="card-body">
                <form method="post">
                  {% csrf_token %}
                  {% crispy form %}
                </form>
              </div>
            </div>
            <div class="card">
              <h3 class="card-header text-bold text-danger mb-3">{% translate "Danger zone" %}</h3>
              <div class="list-group list-group-flush list-group-divider list-group-bordered mb-3">
                <a class="list-group-item list-group-item-action list-group-item-warning" data-toggle="modal"
                  data-target="#transfer-organization">
                  <div class="list-group-item-figure">
                    <i class="oi oi-transfer"></i>
                  </div>
                  <div class="list-group-item-body">
                    <h4 class="list-group-item-title">
                      Transfer Organization
                    </h4>
                    <p class="list-group-item-text">You can transfer ownership of this organization to another user on
                      the RRAP platform</p>
                  </div>
                </a>
                <a class="list-group-item list-group-item-action list-group-item-danger" data-toggle="modal"
                  data-target="#delete-organization">
                  <div class="list-group-item-figure">
                    <i class="oi oi-trash"></i>
                  </div>
                  <div class="list-group-item-body">
                    <h4 class="list-group-item-title">
                      Delete Organization
                    </h4>
                    <p class="list-group-item-text">Once you delete an organization,
                      there is no going back. Please be certain.</p>
                  </div>
                </a>
              </div>
            </div>

            <form method="post" action="{% url 'organizations:transfer_organization' %}">
              {% csrf_token %}
              <input type="hidden" name="organization-id" value="{{ organization.pk }}">
              <div class="modal fade colored-header colored-header-warning" id="transfer-organization" tabindex="-1"
                role="dialog" aria-labelledby="transfer-organization-title" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header modal-header-colored">
                      <h4 class="modal-title" id="transfer-organization-title">{% translate "Transfer ownership" %}</h4>
                      <button type="button" class="close" data-dismiss="modal"
                        aria-label="{% translate "Close" %}"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                      <label for="id_user" class="control-label">{% translate "New owner's RRAP username:" %}</label>
                      <input type="text" id="id_user" name="transfer-user" class="form-control">
                    </div>
                    <div class="modal-footer">
                      <button type="submit" id="confirm-transfer"
                        class="btn btn-lg btn-warning">{% translate "Transfer ownership" %}</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <form method="post" action="{% url "organizations:delete_organization" organization.name %}"
              id="formDeleteorganization">
              {% csrf_token %}
              <div class="modal fade colored-header colored-header-danger" id="delete-organization" tabindex="-1"
                role="dialog" aria-labelledby="delete-organization-title" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header modal-header-colored">
                      <h4 class="modal-title" id="delete-organization-title">Delete {{ organization.title }}?</h4>
                      <button type="button" class="close" data-dismiss="modal"
                        aria-label="{% translate "Close" %}"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                      <p>
                        {% blocktranslate trimmed with title=organization.title %}
                        This action <strong>CANNOT</strong> be undone. This will permanently delete the
                        <strong>{{ title }}</strong> organization and all associated data.
                        {% endblocktranslate %}
                      </p>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" id="enable-confirm-deletion">
                          {% translate "I understand the consequences." %}
                        </label>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" id="confirm-deletion" class="btn btn-danger btn-lg"
                        data-loading="{% translate "Deleting... please wait" %}"
                        disabled>{% translate "Delete this organization" %}</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block inline_javascript %}
<script>
  $(function () {

    $("#id_user").change(function () {
      if ($(this).val() !== "") {
        $("#confirm-transfer").prop("disabled", false);
      } else {
        $("#confirm-transfer").prop("disabled", true);
      }
    });

    $("#enable-confirm-deletion").click(function () {
      if ($(this).is(":checked")) {
        $("#confirm-deletion").prop("disabled", false);
      } else {
        $("#confirm-deletion").prop("disabled", true);
      }
    });

    $("#formDeleteOrganization").submit(function () {
      $("#formDeleteOrganization button[type='submit']").disable();
    });

  });

</script>
<script>
  $(function () {
    $("#id_title").focus();
  });

</script>
{% endblock inline_javascript %}
